body{
    background-color: #2d3250;
}

#title{
    color: #fff;
}

.login-container{
    margin-top: 5%;
    margin-bottom: 5%;
}
.login-form-1{
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h3{
    text-align: center;
    color: #f9b17a;
}
.login-form-2{
    padding: 5%;
    background: #424769;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.login-container form{
    padding: 10%;
}
.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}

#signinPart{
    height: 350px;
    width: 400px;
}

#btnLogin{
    background-color: #f9b17a;
}

#btnSignup{
    background-color: #fff;
    color: #2d3250;
}